*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins';
}
img{
    width: 100%;
}
.carousel-indicators li {
	background-color: rgb(250, 150, 0);
	padding: 1px 0;
}
.card{
    border: none;
    box-shadow: 0px 0px 10px darkgray;
}
.buy_botton{
    display: inline-block;
    padding: 8px 15px;
    background: rgb(48, 48, 48);
    color: white;
    text-decoration: none;
    border-radius: 10px;
}
.category_stroke{
    width: 100px;
    height: 10px;
    background: linear-gradient(to right, rgb(216, 230, 23), rgb(255, 153, 0));
    margin: 0 auto;
    border-radius: 10px;
}
.category_box {
    background: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 0px 10px 0px 10px;
    box-shadow: 0px 0px 18px darkgrey;
    background-color: white;
    width: 100px;
    cursor: pointer;
}